Source: cocos2d-x-deps
Version: 3.1.15
Build-Depends: zlib, openssl, curl, freetype, sqlite3, libwebsockets, libogg, libvorbis
Description: A vcpkg port that builds the external dependencies for cocos2d-x <https://github.com/cocos2d/cocos2d-x>
